# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

- List popular languages for Data Science.
- List popular libraries for Data Science.
- List some Data Science tools
- Evaluate Arithmetric expressions in python

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:

- Numpy
- Matplotlib
- Pandas

| Data Science Tool |
|-------------------|
| Jupyter Notebook |
| Visual Studio Code |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200 / 60

3.3333333333333335

## Author 
Naomi Eveshotomete Alle